

.kotak1 {
  height: 600px;
  max-width: auto;
}

.onboardingheader{
  background: url(../images/SVG/footer.svg) no-repeat;
  background-size: 100% 300px;
  background-position: top -90px center;
  width: auto;
  height: 150px;
  margin: auto;
}