.overlay1 {
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    opacity:1;
    color: rgb(100, 163, 171);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

.kotak1 {
  height: 600px;
  max-width: auto;
}

.header{
  background: url(../images/SVG/Header.svg) no-repeat;
  background-size: 100% 300px;
  background-position: top -30px center;
  width: auto;
  margin: auto;
}

.translucent{
  --background-color: transparent !important;
  --ion-color-base: transparent !important;
}


.locbtn1{
  top: 0;
  right: 0;
  position: right;
}



@font-face {   
  font-family: 'Lora';
  src: url('../fonts/Lora-SemiBold.ttf');
}

.white{
  color: white;
}