ion-avatar{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.edit{
    top: inherit;
    right: 0;
    position: absolute;
}

.coinbtn{
    top: 25%;
    right: 0;
    position: absolute;
}

.btncolor{
    color: white;
}